# OS junk
.DS_Store
Thumbs.db

# STM32CubeIDE managed builds & workspace metadata
Debug/
Release/
.settings/
.metadata/

# CMake build folders
build/
build_*/
cmake-build-*/
out/

# Generated / editor caches
compile_commands.json
.cache/
CMakeUserPresets.json

# Build artifacts anywhere
*.o
*.obj
*.d
*.su
*.cyclo
*.elf
*.bin
*.hex
*.map
*.list
